*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    background: #242424;
    *::before,*::after{
        box-sizing: inherit;
    }
}
  
ul,ol{
    list-style: none;
}
  
html, body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto';
    overflow-x: hidden;
}
  
img{
    max-height: auto;
    display: block;
    background: transparent;
    border: none;
}
  
button {
    border: none;
    background: none;
    cursor: pointer;
}
  
a{
    text-decoration: none;
    color: inherit;
}