@import "reset";

.haeder-layout{
    display: flex;
    position: relative;
    z-index: 1;
    width: 100%;
    height:100vh;
    justify-self: center;
    align-items: center;
    background: #242424;
}

.header_title{
    flex: 50%;
    display: flex;  
    flex-direction: column; 
    align-items: flex-start;
    justify-self: center;
    padding-left: 15%; 
    h1{
        font-size: 60px;
        color: white;
    }
}

.header_pic{
    flex: 50%;
    display: flex;  
    box-sizing: border-box;
    .rocket{
        height: 500px;
    }
    .star{
        opacity: 0.8;
        height: 30px;
        position: absolute;
        top: 80%;
        left:30%;
        animation: scale 3s ease infinite alternate;
        @keyframes scale {
            0% {
                transform: rotate(70deg) scale(0.9);
            }
            100% {
                transform: rotate(30deg)scale(1.1);
            }
        }
    }
}

.cloud{
    background: transparent;
    position: absolute;
    z-index: 11;
    width: 100%;
    bottom: -250px;
    left: 0;
}

.animation{
    position: relative; 
    z-index: 10; //要用gsap.to才會覆蓋 confirm method
    background: #FDFCE9;
    height: 100vh;
    overflow: hidden;
    // ".cloud{ //stacking context不能寫在這?
    //     background: transparent;
    //     position: absolute;
    //     z-index: 11;
    //     background-size: cover;
    //     top: -100px;
    //     left: 0
    // }"
}


footer{
    position: relative;
    height:200vh;
    background: #000;
    display: flex;
    justify-self: center;
    align-items: center;
    
    h1{
        font-size: 60px;
        color: white;
    }
}