@import "reset";

.intro{
    position: relative;
    height: 100vh;
}

.haeder-layout{
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height:100vh;
    justify-self: center;
    align-items: center;
    background: #242424;
    overflow: hidden;
    .header_title{
        flex: 50%;
        display: flex;  
        flex-direction: column; 
        align-items: flex-start;
        justify-self: center;
        padding-left: 15%; 
        h1{
            font-size: 60px;
            color: white;
        }
    }
    .header_pic{
        flex: 50%;
        display: flex;
        box-sizing: border-box;
        height: 100%;
        align-items: center;
        justify-self: center;
        .rocket{
            position: absolute;
            top: 100px;
            left: 100;
            height: 500px;
        }
        .star{
            opacity: 0.8;
            height: 30px;
            position: absolute;
            top: 80%;
            left:30%;
            animation: scale 3s ease infinite alternate;
            @keyframes scale {
                0% {
                    transform: rotate(70deg) scale(0.9);
                }
                100% {
                    transform: rotate(30deg)scale(1.1);
                }
            }
        }
    }
}

.cloud_wrapper{
    height: 100vh;
    position: relative;
    z-index: 2;
    .cloud {
        background: url('/img/cloud.svg') center bottom no-repeat / cover;
        height: 200px;
        width: 100%;
        z-index: 15;
    }
    .cloud_section {
        width: 100%;
        height: 100vh;
        background: #FCFBE8;
        z-index: 10;
    }
}

// .cloud {
//   position: absolute;
//   bottom: -200px;
//   left: 0;
//   width: 100%;
//   z-index: 15;
// }

.fortest_section{
    background: #000;
    height: 100vh;
}